{% load static %}
<html>
    <head>
        <title>{% block title %}Solarkit{% endblock title %}</title>
        
        <link rel="stylesheet" href="/static/css/style.css?{% now "U" %}">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    </head>
    

    

    <body>
        <header>
            <div class="header-container">
                <div>
                    <img src="/static/images/logo.png" onclick="location.href='/';" style="cursor: pointer;">
                </div>
                <div>
                    <a href="/"><h1>Solarkit</h1></a>
                </div>
                <div>
                    <a href="https://www.bpho.org.uk/bpho/computational-challenge"><h3>BPhO<h3></a>
                </div>
            </div>
        </header>

        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>


       {% block content %}
       {% endblock content %} 

       
    </body>
</html>