{% extends 'app/base.html' %}
{% block title %}Solarkit{% endblock title %}

{% block content %}

<div class="gallery">
    <div class="card" onclick="location.href='/third-law/';" style="cursor: pointer;">    
        <h3>Third Law</h3>
    </div>
    <div class="card" onclick="location.href='/orbits/';" style="cursor: pointer;">    
        <h3>Orbits</h3>
    </div>
    <div class="card" onclick="location.href='/orbits/';" style="cursor: pointer;">    
        <h3>Orbits Animated</h3>
    </div>
    <div class="card" onclick="location.href='/spinograph/';" style="cursor: pointer;">    
        <h3>Spinograph</h3>
    </div>
    <div class="card" onclick="location.href='/angle-vs-time/';" style="cursor: pointer;">    
        <h3>Angle vs Time</h3>
    </div>
    <div class="card" onclick="location.href='/heliocentric/';" style="cursor: pointer;">    
        <h3>Heliocentric</h3>
    </div>
</div>




{% endblock content %}


