{% extends 'app/base.html' %}
{% block title %}Solarkit{% endblock title %}

{% block content %}

<div class="gallery">
    <div class="card" onclick="location.href='/orbits/';" style="cursor: pointer;">    
        <h3>Orbits</h3>
    </div>
    <div class="card" onclick="location.href='/spinograph/';" style="cursor: pointer;">    
        <h3>Spinograph</h3>
    </div>
    <div class="card" onclick="location.href='/heliocentric/';" style="cursor: pointer;">    
        <h3>Heliocentric</h3>
    </div>
    <div class="card" onclick="location.href='/third-law/';" style="cursor: pointer;">    
        <h3>Third Law</h3>
    </div>
</div>

<footer>
    <div class="footer-container">
        
        <h5>Done by <a href="https://github.com/carlos-lorenzo">Carlos Lorenzo</a> for BPhO Computational challenge 2023</h5>
    </div>

</footer>


{% endblock content %}


